<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">HP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Decree</a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/characters">Characters</a>
                    <a class="dropdown-item" routerLink="/houses">Houses</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

