.button {
    background-color: #ddd;
    border: none;
    color: black;
    align-items: right;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }