
<div class="container">
 
  <bs-navbar></bs-navbar>
  <router-outlet></router-outlet>

</div>

<button (click)="fetchHouse()">Hogwarts House</button>

<ul>
  <li *ngFor="let hom of home$ | async">{{ hom.house }}</li>
</ul>